.p {
	text-align: center;

	color: hsl(var(--clr-light));

	font-family: var(--ff-sans-normal);
	font-size: 0.9375rem;
	line-height: 1.4;
}

@media (min-width: 640px) {
	.p {
		font-size: 1rem;
		line-height: 1.75;
	}
}

@media (min-width: 1024px) {
	.p {
		text-align: left;

		font-size: 1.125rem;
	}
}
