.wrapper {
	display: grid;
	gap: 1.5rem;
	padding-top: 1.5rem;
	grid-template-rows: auto 1fr;
	min-height: 100vh;
	position: relative;
}

.skipLink {
	position: absolute;
	z-index: 9999;
	background: hsl( var(--clr-white) );
	color: hsl( var(--clr-dark) ); 
	padding: .5em 1em;
	margin-inline: auto;
	transform: translateY(-100%);
	transition: transform 250ms ease-in;
}

.showSkipLink {
	transform: translateY(0);
}

@media (min-width: 640px) {
	.wrapper {
		padding-top: 0;
		gap: 2.5rem;
	}
}

@media (min-width: 1024px) {
	.wrapper {
		padding-top: 2.5rem;
		gap: 4.75rem;
	}
}