.dotList {
	display: flex;
	gap: 1rem;

	justify-content: center;
}

.dotButton {
	/* font-size: 1px;
	line-height: 1; */
	padding: 0.33rem;

	border: none;
	border-radius: 50%;
	background: hsl(var(--clr-white) / 17%);
}

.dotButton[aria-selected="true"] {
	background: hsl(var(--clr-white));
}

.dotButton:hover:not([aria-selected="true"]) {
	cursor: pointer;

	background: hsl(var(--clr-white) / 50%);
}

@media (min-width: 1024px) {
	.dotList {
		justify-content: start;
	}

	.dotButton {
		padding: 0.5rem;
	}
}
