.wrapper {
	display: grid;
	padding: 1.5rem 1.5rem 3rem 1.5rem;
	justify-items: center;
	gap: 1rem;
	align-items: center;
}

.textBlock {
	max-width: 20.5rem;
}

.text {
	margin-top: 1rem;
}

.bg {
	height: 100vh;
	position: absolute;
	z-index: -10;
	top:0;
	left:0;
	bottom:0;
	right: 0;
}

.bgTablet {
	display: none;
}

.bgDesktop {
	display: none;
}

@media (min-width: 640px) {
	.wrapper {
		gap: 2rem;
		padding: 2rem 2rem 4rem 2rem;
	}

	.textBlock {
		max-width: 28rem;
	}

	.text {
		max-width: 27.75rem;
		margin-top: 1.5rem;
	}

	.bgMobile {
		display: none;
	}

	.bgTablet {
		display: block;
	}
}

@media (min-width: 1024px) {
	.wrapper {
		align-items: end;
		padding-bottom: max(8.25rem, 15vh);
		grid-template-columns: 1fr 1fr;
	}

	.bgTablet {
		display: none;
	}

	.bgDesktop {
		display: block;
	}
}