.wrapper {
	grid-template-areas:
		". homeBlock ."
		". homeButton .";

	align-content: unset;
}

.homeDescription {
	margin-top: 1rem;
}

.homeBlock {
	grid-area: homeBlock;
}

.homeButton {
	grid-area: homeButton;
}

@media (min-width: 640px) {
	.homeDescription {
		margin-top: 1.5rem;
	}
}

@media (min-width: 1024px) {
	.wrapper {
		align-items: end;

		padding-bottom: max(6rem, 15vh);
		grid-template-areas: ". homeBlock homeButton .";
	}

	.homeBlock {
		justify-self: start;
	}

	.homeButton {
		justify-self: end;

		margin-right: 3rem;
	}
}
