.homeDescription {
	margin-top: 1rem;
}

.homeBlock {
	grid-area: homeBlock;
}

.homeButton {
	grid-area: homeButton;
}

@media (min-width: 640px) {
	.homeDescription {
		margin-top: 1.5rem;
	}
}

@media (min-width: 1024px) {
	.homeBlock {
		justify-self: start;
	}

	.homeButton {
		justify-self: end;

		margin-right: 3rem;
	}
}
