.underlineList {
	display: flex;
	gap: 1.625rem;
	justify-content: center;
}

.underlineButton {
	padding: 0;
	padding-bottom: 0.5rem;
	border: none;
	border-bottom: 3px solid transparent;
	background: none;

}

.underlineButton[aria-selected="true"] {
	border-bottom: 3px solid hsl(var(--clr-white));
}

.underlineButton[aria-selected="true"] div {
	color: hsl(var(--clr-white));
}

.underlineButton:hover:not([aria-selected="true"]) {
	cursor: pointer;
	border-bottom: 3px solid hsl(var(--clr-light));
}

@media (min-width: 640px) {
	.underlineList {
		gap: 2.25rem;
	}

	.underlineButton {
		padding-bottom: 0.75rem;
	}
}

@media (min-width: 1024px) {
	.underlineList {
		justify-content: start;
	}
}