.underlineList {
	display: flex;
	gap: 1.625rem;
	justify-content: center;
}

.underlineButton {
	padding: 0;
	padding-bottom: 0.5rem;
	border: none;
	border-bottom: 3px solid transparent;
	background: none;
	font-family: var(--ff-sans-cond);
	font-size: 0.875rem;
	line-height: 1.15;
	letter-spacing: 2.35px;
	text-transform: uppercase;
	color: hsl(var(--clr-light));
}

.underlineButton[aria-selected="true"] {
	border-bottom: 3px solid hsl(var(--clr-white));
	color: hsl(var(--clr-white));
}

.underlineButton:hover:not([aria-selected="true"]) {
	cursor: pointer;
	border-bottom: 3px solid hsl(var(--clr-light));
}

@media (min-width: 640px) {
	.underlineList {
		gap: 2.25rem;
	}

	.underlineButton {
		padding-bottom: 0.75rem;
		font-size: 1rem;
		letter-spacing: 2.35px;
	}
}

@media (min-width: 1024px) {
	.underlineList {
		justify-content: start;
	}
}