.subheading {
	text-transform: uppercase;
	text-align: center;
}

.big {
	font-size: 1.75rem;
	line-height: 1.15;
	font-family: var(--ff-serif);
	color: hsl(var(--clr-white) );
}

.small {
	font-size: 0.875em;
	line-height: 1.2;
	letter-spacing: 2.35px;
	font-family: var(--ff-sans-cond);
	color: hsl(var(--clr-light) );
}

@media (min-width: 640px) {
	.big {

	}

	.small {

	}
}

@media (min-width: 1024px) {
	.subheading {
		text-align: left;
	}

	.big {
	}

	.small {
	}
}