.numList {
	display: flex;
	gap: 1rem;

	justify-content: center;
}

.vertical {
	flex-direction: column;
}

.numButton {
	width: 2.5rem;
	height: 2.5rem;

	color: hsl(var(--clr-white));
	border: 1px solid hsl(var(--clr-white) / 25%);
	border-radius: 50%;
	background: none;

	font-size: 1rem;
	line-height: 1.125;
}

.numButton[aria-selected="true"] {
	color: hsl(var(--clr-dark));
	background: hsl(var(--clr-white));
}

.numButton:hover:not([aria-selected="true"]) {
	cursor: pointer;

	border-color: hsl(var(--clr-white) / 50%);
}

@media (min-width: 640px) {
	.numButton {
		width: 3.75rem;
		height: 3.75rem;

		font-size: 1.5rem;
	}
}

@media (min-width: 1024px) {
	.numList {
		justify-content: start;
		gap: 2rem;
	}

	.numButton {
		width: 5rem;
		height: 5rem;

		font-size: 2rem;
	}
}
