.navMenu {
	position: fixed;
	z-index: 10;
	top: 0;
	right: 0;
	bottom: 0;

	overflow: hidden;

	width: 65vw;
	height: 100vh;
	padding: max(15vh, 7.375rem) 2rem;

	transition: right 0.5s ease-in-out;

	background-color: hsl(var(--clr-dark) / 95%);
}

.hidden {
	right: -65vw;
}

.navList {
	display: grid;
	gap: 3vh;
	grid-template-columns: 1fr;
}

.navItem a {
	display: block;
	padding-block: 0.5rem;
	letter-spacing: 2.7px;
	text-transform: uppercase;

	font-family: var(--ff-sans-cond);
	font-size: 1rem;
	line-height: 1.15;
	cursor: pointer;
	text-decoration: none;
}

.navItem a {
	display: block;
	padding-block: 0.5rem;
	letter-spacing: 2.7px;
	text-transform: uppercase;

	font-family: var(--ff-sans-cond);
	font-size: 1rem;
	line-height: 1.15;
	cursor: pointer;
	text-decoration: none;
}

.navItem a:hover {
	padding-bottom: calc(0.5rem - 3px);
	border-bottom: 3px solid hsl(var(--clr-white)/ 0.5);
}

.navItem a span {
	margin-right: 0.75rem;

	font-weight: 700;
}

.underline {
	display: none;
}

@supports (backdrop-filter: blur(30px)) {
	.navMenu {
		background-color: hsl(var(--clr-dark) / 30%);
		backdrop-filter: blur(30px);
	}
}

@media (min-width: 640px) {
	.navMenu {
		position: relative;

		width: unset;
		transition: unset;
		height: unset;
		padding: 0 3rem;
	}

	.navList {
		align-items: center;
		grid-template-columns: repeat(4, auto);
		gap: 2.5rem;
	}

	.navItem a {
		letter-spacing: 2.35px;

		font-size: 0.875rem;
		padding-block: 2.5rem;
	}

	.navItem a:hover {
		padding-bottom: calc(2.5rem - 3px);
	}

	.navItem a span {
		display: none;
	}

	.underline {
		position: absolute;
		bottom: 0;

		display: block;

		height: 3px;

		transition: all 0.5s ease-in;

		background-color: hsl(var(--clr-white));
	}
}

@media (min-width: 1024px) {
	.navMenu {
		padding-inline: 8vw 12vw;
	}

	.navItem a {
		letter-spacing: 2.7px;

		font-size: 1rem;
	}

	.navItem a span {
		display: inline;
	}
}
