.navText {
	text-transform: uppercase;
	text-align: center;
	font-family: var(--ff-sans-cond);
	line-height: 1.2;
}

.menu {
	text-align: left;
	font-size: 1rem;
	letter-spacing: 2.7px;
	color: hsl(var(--clr-white));
}

.menu em {
	font-style: normal;
	font-weight: 700;
	margin-right: 0.75rem;
}

.page {
	font-size: 1rem;
	letter-spacing: 2.7px;
	color: hsl(var(--clr-white));
}

.page em {
	font-style: normal;
	margin-right: 1rem;
	color: hsl(var(--clr-white) / 0.25);
	font-weight: 700;
}

.info {
	font-size: 0.875rem;
	letter-spacing: 2.35px;
	color: hsl(var(--clr-light));
}

@media (min-width: 640px) {
	.menu {
		font-size: 0.875rem;
		letter-spacing: 2.35px;
	}

	.menu em {
		display: none;
	}

	.page {
		text-align: left;
		font-size: 1.25rem;
		letter-spacing: 3.375px;
	}

	.info {
		font-size: 1rem;
		letter-spacing: 2.7px;
	}
}

@media (min-width: 1024px) {
	.menu {
		font-size: 1rem;
		letter-spacing: 2.7px;
	}

	.menu em {
		display: inline;
	}

	.page {
		font-size: 1.75rem;
		letter-spacing: 4.725px;
	}

	.page em {
		margin-right: 1.5rem;
	}

	.info {
		text-align: left;
	}
}