.wrapper {
	grid-template-areas:
		"pageTitle pageTitle pageTitle"
		"planetImage planetImage planetImage"
		". planetNav ."
		". planetBlock .";

	align-content: start;
}

.planetImage {
	position: relative;

	width: 45%;
	aspect-ratio: 1;
	grid-area: planetImage;
}

.planetNav {
	grid-area: planetNav;
}

.planetBlock {
	grid-area: planetBlock;

	margin-top: -1rem;
}

@media (min-width: 640px) {
	.wrapper {
		--center-width: 36rem;
		align-content: unset;
	}

	.planetImage {
		width: max(40%, 25vh);
	}

	.planetBlock {
		margin-top: -2rem;
	}
}

@media (min-width: 1024px) {
	.wrapper {
		--center-columns: minmax(0, 36rem) minmax(0, 28rem);
		grid-template-areas:
			". pageTitle planetNav ."
			". planetImage planetBlock .";
		grid-template-rows: minmax(5rem, auto);
	}

	.planetNav {
		justify-self: start;

		align-self: end;
	}

	.planetBlock {
		justify-self: start;

		align-self: start;

		margin-top: min(3vh, 2rem);
	}

	.planetImage {
		align-self: start;

		width: 80%;
	}
}
