.planetImage {
	position: relative;

	width: 45%;
	aspect-ratio: 1;
	grid-area: planetImage;
}

.planetNav {
	grid-area: planetNav;
}

.planetBlock {
	grid-area: planetBlock;

	margin-top: -1rem;
}

@media (min-width: 640px) {
	.planetImage {
		width: max(40%, 25vh);
	}

	.planetBlock {
		margin-top: -2rem;
	}
}

@media (min-width: 1024px) {
	.planetNav {
		justify-self: start;

		align-self: end;
	}

	.planetBlock {
		justify-self: start;

		align-self: start;

		margin-top: min(3vh, 2rem);
	}

	.planetImage {
		align-self: start;

		width: 80%;
	}
}
