.wrapper {
	grid-template-areas: 
		"pageTitle pageTitle pageTitle"
		"planetImage planetImage planetImage"
		". planetNav ."
		". planetBlock .";
}

.planetImage {
	width: 45%;
	aspect-ratio: 1;
	position: relative;
	grid-area: planetImage;
}

.planetNav {
	grid-area: planetNav;
}

.planetBlock {
	grid-area: planetBlock;
	margin-top: -1rem;
}

@media (min-width: 640px) {
	.wrapper {
		--center-width: 36rem;
	}

	.planetImage {
		width: 40%;
	}

	.planetBlock {
		margin-top: -2rem;
	}
}

@media (min-width: 1024px) {
	.wrapper {
		/* --row-gap: max(7vh, 4rem); */
		--center-columns: minmax(0, 36rem) minmax(0, 28rem);
		grid-template-areas: 
			". pageTitle . ."
			". . planetNav ."
			". planetImage planetBlock .";
		grid-template-rows: min-content;
		/* align-content: start; */
	}

	.planetNav {
		justify-self: start;
		align-self: end;
		/* width: 28rem; */
	}

	.planetBlock {
		justify-self: start;
		align-self: start;
		margin-top: 2rem;
		/* margin-top: min(-2rem, -3.5vh); */
		/* width: 28rem; */
	}

	.planetImage {
		align-self: start;
		width: 80%;
	}
}