.wrapper {
	grid-template-areas: 
		"pageTitle pageTitle pageTitle"
		". crewImage ."
		". crewNav ."
		". crewBlock .";
	--row-gap: max(2rem, 3vh);
	align-content: start;
}

.crewImage {
	position: relative;
	grid-area: crewImage;
	height: 30vh;
	width: 100%;
}

.crewImage img {
	object-fit: contain;
}

.divider {
	position: absolute;
	bottom: 0;
}

.crewNav {
	grid-area: crewNav;
}

.crewBlock {
	grid-area: crewBlock;
}

.bg {
	height: 100vh;
	position: absolute;
	z-index: -10;
	top:0;
	left:0;
	bottom:0;
	right: 0;
}

.bgTablet {
	display: none;
}

.bgDesktop {
	display: none;
}

@media (min-width: 640px) {
	.wrapper {
		grid-template-areas: 
			"pageTitle pageTitle pageTitle"
			". crewBlock ."
			". crewNav ."
			". crewImage .";
		padding-bottom: 0;
		align-content: unset;
	}

	.crewImage {
		align-self: end;
		aspect-ratio: 1;
		height: unset;
	}

	.divider {
		display: none;
	}

	.bgMobile {
		display: none;
	}

	.bgTablet {
		display: block;
	}
}

@media (min-width: 1024px) {
	.wrapper {
		--row-gap: 0;
		grid-template-areas: 
			". pageTitle crewImage ."
			". crewBlock crewImage ."
			". crewNav crewImage .";
		--center-columns: minmax(0, 28rem) minmax(0, 36rem);
		grid-template-rows: min-content;
	}

	.crewNav {
		place-self: start;
		/* margin-block: min(10vh, 5rem); */
	}

	.crewBlock {
		z-index: 5;
		justify-self: start;
		align-self: end;
		margin-bottom: 3rem;
		/* margin-top: 15vh; */
	}

	.crewImage {
		left: calc(5vw - 1rem);
		align-self: stretch;
	}

	.bgTablet {
		display: none;
	}

	.bgDesktop {
		display: block;
	}
}