.wrapper {
	grid-template-areas: 
		"pageTitle pageTitle pageTitle"
		". crewImage ."
		". crewNav ."
		". crewBlock .";
	align-content: start;
}

.crewImage {
	position: relative;
	grid-area: crewImage;
	height: 30vh;
	width: 100%;
}

.crewImage img {
	object-fit: contain;
}

.divider {
	position: absolute;
	bottom: 0;
}

.crewNav {
	grid-area: crewNav;
}

.crewBlock {
	grid-area: crewBlock;
}

@media (min-width: 640px) {
	.wrapper {
		grid-template-areas: 
			"pageTitle pageTitle pageTitle"
			". crewBlock ."
			". crewNav ."
			". crewImage .";
		padding-bottom: 0;
		align-content: unset;
	}

	.crewImage {
		align-self: end;
		aspect-ratio: 1;
		height: unset;
	}

	.divider {
		display: none;
	}
}

@media (min-width: 1024px) {
	.wrapper {
		grid-template-areas: 
			". pageTitle crewImage ."
			". crewBlock crewImage ."
			". crewNav crewImage ."
			". . . . ";
		--center-columns: minmax(0, 28rem) minmax(0, 36rem);
		grid-template-rows: 5rem auto 5rem auto;
	}

	.divider {
		display: block;
	}

	.crewNav {
		place-self: start;
	}

	.crewBlock {
		z-index: 5;
		justify-self: start;
		align-self: end;
		margin-bottom: 3rem;
	}

	.crewImage {
		width: calc(100% + 5vw);
		left: calc(2.5vw);
		align-self: end;
	}
}