.crewImage {
	position: relative;

	width: 100%;
	height: 30vh;
	grid-area: crewImage;
}

.crewImage img {
	object-fit: contain;
}

.divider {
	position: absolute;
	bottom: 0;
}

.crewNav {
	grid-area: crewNav;
}

.crewBlock {
	grid-area: crewBlock;
}

@media (min-width: 640px) {
	.crewImage {
		align-self: end;
		aspect-ratio: 1;

		height: unset;
	}

	.divider {
		display: none;
	}
}

@media (min-width: 1024px) {
	.divider {
		display: block;
	}

	.crewNav {
		place-self: start;
	}

	.crewBlock {
		z-index: 5;
		justify-self: start;

		align-self: end;

		margin-bottom: 3rem;
	}

	.crewImage {
		left: calc(2.5vw);

		align-self: end;

		width: calc(100% + 5vw);
	}
}
