.heading {
	text-align: center;
	white-space: nowrap;
	text-transform: uppercase;

	color: hsl(var(--clr-white));

	font-family: var(--ff-serif);
}

.heading em {
	display: block;

	font-style: normal;
}

.heading span {
	display: block;
}

.home {
	letter-spacing: 2.7px;

	color: hsl(var(--clr-light));

	font-family: var(--ff-sans-cond);

	/* font-size: 1rem; */
	font-size: clamp(1rem, 4vw, 1.5rem);
	line-height: 1.2;
}

.home em {
	margin-top: 1rem;

	font-family: var(--ff-serif);
	color: hsl(var(--clr-white));
	/* font-size: 5rem; */
	font-size: clamp(5rem, 20vw, 8rem);
	line-height: 1.25;
}

.pageDestination {
	font-size: 3.5rem;
	line-height: 1.125;
}

.pageOther {
	font-size: 1.5rem;
	line-height: 1.15;
}

.pageOther em {
	margin-bottom: 0.5rem;

	color: hsl(var(--clr-light)/ 50%);

	font-size: 1rem;
	line-height: 1.125;
}

.pageOther span {
	margin-bottom: 0.5rem;

	letter-spacing: 2.35px;

	color: hsl(var(--clr-light));

	font-family: var(--ff-sans-cond);
	font-size: 0.875rem;
	line-height: 1.2;
}

.sub {
	letter-spacing: 2.35px;

	color: hsl(var(--clr-light));

	font-family: var(--ff-sans-cond);
	font-size: 0.875em;
	line-height: 1.2;
}

.nav {
	letter-spacing: 2.7px;

	font-family: var(--ff-sans-cond);
	font-size: 1rem;
	line-height: 1.2;
}

.nav span {
	display: inline;

	margin-right: 1rem;

	color: hsl(var(--clr-white) / 25%);

	font-weight: 700;
}

@media (min-width: 640px) {
	.home {
		letter-spacing: 3.375px;

		font-size: 1.5rem;
		line-height: 1.2;
	}

	.home em {
		margin-top: 1.5rem;

		font-size: 9.375rem;
		line-height: 1;
	}

	.pageDestination {
		font-size: 5rem;
		line-height: 1.15;
	}

	.pageOther {
		font-size: 2.5rem;
	}

	.pageOther em {
		font-size: 1.5rem;
		line-height: 1.15;
	}

	.pageOther span {
		margin-bottom: 1rem;

		letter-spacing: 2.7px;

		font-size: 1rem;
	}

	.nav {
		text-align: left;
		letter-spacing: 3.375px;

		font-size: 1.25rem;
	}
}

@media (min-width: 1024px) {
	.heading {
		text-align: left;
	}

	.home {
		letter-spacing: 4.725px;

		font-size: 1.75rem;
	}

	.home em {
		line-height: 1.15;
	}

	.pageDestination {
		font-size: 6.25rem;
	}

	.pageOther {
		font-size: 3.5rem;
		line-height: 1.15;
	}

	.pageOther em {
		margin-bottom: 1rem;

		font-size: 2rem;
		line-height: 1.15;
	}

	.nav {
		letter-spacing: 4.725px;

		font-size: 1.75rem;
	}

	.nav span {
		margin-right: 1.5rem;
	}
}
