.wrapper {
	grid-template-areas:
		"pageTitle pageTitle pageTitle"
		"techImage techImage techImage"
		". techMain .";
}

.techImage {
	position: relative;

	width: 100%;
	aspect-ratio: 2.4;
	grid-area: techImage;
}

.techImage img {
	object-fit: contain;
}

.techImageMobile {
	display: block;
}

.techImageDesktop {
	display: none;
}

.techMain {
	grid-area: techMain;

	display: grid;
	gap: var(--row-gap);
}

@media (min-width: 640px) {
	.techMain {
		gap: 2.5rem;

		align-self: start;
	}
}

@media (min-width: 1024px) {
	.wrapper {
		--center-columns: 38rem minmax(0, 26rem);
		grid-template-areas:
			". pageTitle pageTitle ."
			". techMain techImage .";
		grid-template-rows: 5rem auto;
	}

	.techImage {
		aspect-ratio: 1;

		left: calc(2.5vw + 1rem);

		width: calc(100% + 5vw);
	}

	.techImageMobile {
		display: none;
	}

	.techImageDesktop {
		display: block;
	}

	.techMain {
		align-self: auto;
		justify-self: start;
		gap: 5rem;
		grid-template-columns: 5rem 28rem;
	}
}
