.wrapper {
	grid-template-areas: 
		"pageTitle pageTitle pageTitle"
		"techImage techImage techImage"
		". techMain .";
}

.techImage {
	width: 100%;
	aspect-ratio: 2.4;
	position: relative;
	grid-area: techImage;
}

.techImage img {
	object-fit: contain;
}

.techImageMobile {
	display: block;
}

.techImageDesktop {
	display: none;
}

.techMain {
	grid-area: techMain;
 	display: grid;
	gap: 1.5rem;
}

.techNav {
	/* grid-area: techNav; */
}

.techBlock {
	/* grid-area: techBlock; */
}

@media (min-width: 640px) {
	.wrapper {

	}

	.techMain {
		gap: 2.5rem;
	}
}

@media (min-width: 1024px) {
	.wrapper {
		--center-columns: 38rem minmax(0, 26rem);
		grid-template-rows: min-content;
		grid-template-areas: 
			". pageTitle pageTitle ."
			". techMain techImage .";
	}

	.techImage {
		aspect-ratio: 1;
		left: calc(2.5vw + 1rem);
    width: calc(100% + 5vw);
	}

	.techImageMobile {
		display: none;
	}

	.techImageDesktop {
		display: block;
	}

	.techMain {
		justify-self: start;
		gap: 5rem;
		grid-template-columns: 5rem 28rem;
	}
}